<VirtualHost *:{{ port_no }}>
  DocumentRoot /var/www/webpagetest/
  ServerName {{ host_name }}

  <Directory /var/www/webpagetest/>
    Options +Indexes +FollowSymLinks +MultiViews +Includes
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

  php_value post_max_size 50M
  php_value upload_max_filesize 50M
  php_value memory_limit 512M

  ErrorLog /var/log/apache2/webpagetest-error.log

  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel warn
  CustomLog /var/log/apache2/webpagetest-access.log combined

</VirtualHost>